#center{
    text-align: center;
}
.navbar a:not(.logo):hover{
    background-color:#0e2b3d;
    color: white;
    border-radius: 10px;
  }
  .navbar a{
    font-size: 25px;
  }
 
    table, th, tr ,td {
        border: 3px solid rgb(0, 0, 0);
        border-collapse: collapse;
        text-align: center;
        padding: 10px;
        font-family: sans-serif;
    }
    table{
        margin: 20px auto;
        width: 60%;
        color:black;
        font-weight: bold;
    }
    th{
        background-color:white;
        
        font-weight: bold;
        font-size: 25px;
    }
    td{
      font-size: 20px;
    }
    
    .points{
      font-weight: bold;
      font-size: 25px;
      color:#1b6dc1
      
    }
    span{
      color:#0e2b3d;
      font-size: 25px;
    }
    #heads{
        text-align: center;
        font-family:monospace;
        color: red;
        font-weight: bold;
        font-size: 30px;
    }
    .custom{
        border: 3px solid #114362 !important;
        color:#0e2b3d !important;
    }
    #verse{
      color:#0e2b3d;
      font-weight: bold;
      text-align: center;
      text-shadow: 2px 2px 2px #114362; 
    }
#link{
  font-size: 25px;
}

    /* style for progress bar */

    .progress-container {
      display: block;
      height: 200px;
      width: 200px;
      margin: 2em auto;
      box-shadow: 0 0 1em black;
      border-radius: 100%;
      position: relative;
    }
    
    .progress-svg circle {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset 1s linear;
      stroke: #666;
      stroke-width: 1em;
    }
    
    .progress-svg .progress-bar {
      stroke: #ff0000;
      
    }
    
    .progress-container::after {
      position: absolute;
      display: block;
      height: 160px;
      width: 160px;
      left: 50%;
      top: 50%;
      box-shadow: inset 0 0 1em black;
      content: attr(data-pct)"%";
      margin-top: -80px;
      margin-left: -80px;
      border-radius: 100%;
      line-height: 160px;
      font-size: 2em;
    }
    
    body {
      color: #fff;
      text-align: center;
    }
    
    b{
      color:#1b6dc1;
    }

    